body{
   background-color: black;
   background-image: url(https://img.freepik.com/fotos-premium/fundo-preto-com-relampagos-azuis_167857-15087.jpg?semt=ais_hybrid&w=740&q=80);
    text-align: center;
    background-size: 100%            ;
}
.cartao{
    width: 50%;
    background-color: black;
    margin: auto;
    border-radius: 100px;
    border-style: double;
}
img{
    width: 754px;
}
p,h1,h2{
    color: blue;
}
a{
    text-decoration: none;
}
